.content{
    background-image: url("./images/1.jpg");
    height: 100%;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{ 
    font-size: 24px;
    text-align: justify;
    position: absolute;
    top: 60%;
    left: 79%;
    transform: translate(-50%, -50%);  
}
