body, html{
    height: 100%;
    margin: 0;
    font-family: 'Acme', sans-serif;
    color: #35155D;
}
header {
    background-color: #35155D;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav{
    list-style-type: none;
    background-color: #35155D;
    width: 100%;
}
li{
    display: inline;
}
li a{
    color: aliceblue;
    font-size: 24px;
    padding: 20px;
    text-decoration: none;
}
li a:hover{
    background-color: aliceblue;
    color: #35155D;
}